<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2">

			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Usuario</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Usuario1</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Usuario2</td>
					</tr>				
				</tbody>
			</table>

			<a href="/logout" class="btn btn-info">Cerrar sesión</a>


		</div>
	</div>

</body>
</html>