<!doctype html>
<html ng-app="app">
	<head>
		<style>
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			  display: none !important;
			}

			.editando {
				background-color: yellow;
			}

			.editado {
				background-color: green;
			}
		</style>	
		<meta charset="utf8">
	</head>
	<body ng-cloak>
		<div ng-controller="controlador as ctrl">
			<input type="text" ng-model="ctrl.nombre" /><br>
			{{ctrl.nombre}}

			<table>
				<tr ng-repeat="usuario in ctrl.listaUsuarios" ng-class="{editando: usuario.editando, editado: usuario.editado}" ng-show="!usuario.eliminado">
					<td>{{usuario.usuario}}</td>
					<td>{{usuario.contrasena}}</td>
					<td><a href ng-click="ctrl.editar(usuario)">Editar</a>
					<a href ng-click="ctrl.eliminar(usuario)">Eliminar</a>
					</td>
				</tr>
			</table>
			<a href ng-click="ctrl.accion=1;ctrl.usuarioEscogido={}">Agregar</a>

			<fieldset ng-hide="ctrl.accion==-1">
				<legend>
					<span ng-show="ctrl.accion==0">Edición</span>
					<span ng-show="ctrl.accion==1">Inserción</span>
				</legend>
				<form>
					<label>Usuario</label>
					<input type="text" ng-model="ctrl.usuarioEscogido.usuario"><br>
					<label>Contraseña</label>
					<input type="text" ng-model="ctrl.usuarioEscogido.contrasena"><br>
					<button ng-click="ctrl.ejecutar()">Ejecutar</button>
				</form>
			</fieldset>

		</div>

	<!-- 	<div ng-controller="controladorEdicion as ctrl">
			<a href ng-click="ctrl.mostrar()">mostrar</a><br>
			Usuario: {{ctrl.usuario.usuario}}<br>
			Contraseña: {{ctrl.usuario.contrasena}} -->

		</div>
		
		<script src="bower_components/angular/angular.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>