<div class="container">
	<div class="row">
		<div class="col-md-6">
			<form action="/actualizar/<%= registro.idUsuario %>" method="post">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nombre de usuario" name="nombreUsuario" value="<%= registro.nombreUsuario %>" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Contraseña" name="contrasena" value="<%= registro.contrasena %>" />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-block btn-success form-control">Grabar</button>
				</div>
			</form>

		</div>
	</div>
</div>