<!DOCTYPE html>
<html>
<head>
	<title>Sistema de Historias Médicas</title>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/estilos-login.css">	
</head>
<body>

	<div class="container">
		
		<form action="/auth/validar" method="post">
			<h1>Login</h1>
			<div class="form-group">
				<input type="text" placeholder="Usuario" class="form-control" name="cusuario" required />
			</div>
			<div class="form-group">
				<input type="password" placeholder="Contraseña" name="ccontrasena" class="form-control" required />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-lg btn-block">Ingresar</button>
			</div>
			<div class="form-group">
				<a href="/auth/login-facebook" class="btn btn-info btn-lg btn-block">Login con Facebook</a>
			</div>
			<div class="form-group">
				<a href="/auth/login-google" class="btn btn-danger btn-lg btn-block">Login con Google</a>
			</div>
			<div class="form-group">
				<a href="/auth/login-twitter" class="btn btn-success btn-lg btn-block">Login con Twitter</a>
			</div>
			<div class="form-group">
				<a href="/auth/login-github" class="btn btn-warning btn-lg btn-block">Login con GitHub</a>
			</div>
		</form>

	</div>
</body>
</html>